* {
    margin: 0px;
}

body {
    background-color: black;
    padding: 10px;
}

img {
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 50%;
    border: 5px solid azure;
    border-radius: 6px;
}

h1,
p {
    text-transform: uppercase;
    color: azure;
    font-family: 'Borel', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    padding: 3px;
}