.color-title {
    font-weight: normal;
}

#red {
    color: #FF0000;
}

#blue {
    color: #1BA8F0;
}

#orange {
    color: #FE7C1E;
}

#green {
    color: #256525;
}

#yellow {
    color: #FFFF24;
}


img {
    height: 200px;
    width: 200px;
}